.ColorPicker{
width: 300px;

border: 1px solid #000;
padding: 10px;
}

.colorPicker__container{
    padding: 10px;
}

.ColorPicker__title{
    font-size: 14px;
    font-style: italic;
}

.ColorPicker__option{
    width: 30px;
    height: 30px;

    border: none;
    outline: none;
    cursor: pointer;

    transition: transform 250ms linear ;
}

.ColorPicker__option:not(:last-child){
    margin-right: 5px;
}

.ColorPicker__active{
    transform: rotate(5deg) scale(1.1);
}